.scifit{
    display: flex;
}
.scifiti{
    margin-left: 69px;
    margin-top: -550px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    line-height: 32px;
    font-size: 30px;
    color: #fff;
    font-weight: bold;
}
.fa-angle-right{
    margin-left: 20px;
    justify-content:center;
    font-size: 25px;
    margin-top: 5px;
}